body{
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.wave1-container {
    position:relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    transform: translateY(30%);
}

.deepwave {
    animation: ripple 200s ease-out infinite;
}

.midwave{
    animation: ripple 80s ease-in-out infinite;

}

.shallowave {
    animation: ripple 120s ease-out infinite;

}

.waves {
    position: absolute;
    top: 340px;
    z-index: 1;
}

/* .wavetide {
    animation: tideup 3s linear 1;
} */

.load-count {
    align-self: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: 35px;;
    color: #0476A8;
    z-index: 2;
    animation: colorChange 1600ms linear 1 forwards;
}

/* .deepwave::after {
    position: absolute;
    content: url(./assets/deepwave.svg);
    mix-blend-mode: color-dodge;
    left: 500px;
} */

@keyframes ripple {
    0% {
       transform: translateX(0px);
    }

   50% {
        transform: translateX(-3000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes colorChange{
    0% {

    }

    70%, 100%{
        color: #fff;
    }
}

/* @media (max-width: 650px) {
    .wave1-container {
        transform: translateY(80%);
    }
} */